* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  min-height: 100vh;
  width: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
}
header h1 {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
}
main {
  background: linear-gradient(to bottom, #0a0a0a, #33312f, rgb(78, 3, 3));
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  padding-bottom: 10px;
}

.datos1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.imagenPerfil {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.cargarFoto {
  background-color: rgb(56, 175, 56);
  border: none;
  font-size: 1.5rem;
  width: 150px;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
}
.cargarFoto:hover {
  background-color: green;
}

.inputFoto {
  width: 150px;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
  font-size: 1.5rem;
}

.inputFoto:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.datosEspecificos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 5px;
}

.cambiarContrasena {
  text-decoration: none;
  background-color: #0056b3;
  color: white;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.cambiarContrasena:hover {
  background-color: #007bff;
}

#profesores {
  background-color: black;
  height: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  color: white;
  border-radius: 5px;
}

.datosProfesor {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.datosProfesor img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#select_profesor {
  width: 150px;
  border: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 10px;
}
#select_profesor:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.profesorYRutinas {
  border: 1px solid black;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.profesor {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.profesor h2,
.rutinas h2,
.dietas h2,
.progresos h2 {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
}

.rutinas,
.dietas,
.progresos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.lista {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

.lista li {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px 1px 0px 1px;
  padding: 5px;
  border-radius: 5px;
  background-color: gray;
  box-shadow: 0px 0px 5px white;
}

.lista li p {
  text-align: center;
  font-weight: bold;
}

.lista li a {
  text-decoration: none;
}

.lista li a img {
  width: 80px;
  height: 80px;
}

#listaProgresos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#listaProgresos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#listaProgresos h4 {
  background-color: rgb(116, 11, 11);
  width: 99%;
  text-align: center;
  font-size: 1.2rem;
}
#listaProgresos div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
#listaProgresos div img {
  width: 200px;
  height: 200px;
}
.fechaProgresos {
  width: 90%;
  background-color: black;
}
#formProgresos {
  background-color: #33312f;
  width: 99%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 10px;
}

#fechaProgreso {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  border-radius: 5px;
}

#divInputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
#divInputs input {
  display: none;
}

#divInputs label {
  background-color: black;
  color: white;
  width: auto;
  padding: 5px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

#divInputs label:hover {
  background-color: gray;
}

#buttonProgresos {
  border-radius: 5px;
  background-color: #1485ff;
  border: none;
  padding: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  color: white;
}

#buttonProgresos:hover {
  background-color: #007bff;
}

.logout {
  background-color: rgb(185, 9, 9);
  border: none;
  font-size: 1.5rem;
  color: white;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.logout:hover {
  background-color: black;
}
footer {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 418px) {
  .datos1 {
    gap: 10px;
  }
  .datosEspecificos {
    display: flex;
    flex: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .lista li {
    width: 100px;
    height: 100px;
  }

  .lista li p {
    display: none;
  }

  #listaProgresos div {
    flex-direction: column;
  }
  #formProgresos {
    flex-direction: column;
    gap: 5px;
  }

  #formProgresos label {
    text-align: center;
  }
}
